/* Layout Navbar and Sidebar */
.customLogoClass {
    width: 15%;
    margin-left: 30px !important;
    z-index: 1;
}
.containerLogo{
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}
.header {
    background-color: rgb(32,41,72) !important;
    /* border-radius: 10px;
    margin: 3px; */
}
.sapUShellApplicationContainer {
    border: none !important;
    background-color: #f7f7f7 !important;
}
.sidebar {
    background-color: rgb(32,41,72) !important;
    /* border-radius: 10px;
    margin: 3px; */
}
.sideNavLinks{
    color: white !important;
    background-color: rgb(32,41,72) !important;
}
.sideNav{
    background-color: rgb(32,41,72) !important;
}
.sapTntNavLIItem {
    background-color: rgb(32,41,72) !important;
    color: white !important;
    margin: 10px 0px 10px 0px;
    border: none !important;
}
.sapTntNavLIItem:hover{
    background-color: rgb(70, 92, 173) !important;
    color: white !important;
    /* border-radius: 10px; */
}
.sapMTB .sapMBtnUp:hover{
    background-color: rgb(70, 92, 173) !important;
    color: white !important;
    /* border-radius: 10px; */
}
.sapTntNavLIItem .sapMText {
    color: white !important;
}
.sapTntNavLIItem .sapUiIcon {
    color: rgb(0,171,155) !important;
}
*{
    margin: 0;
    padding: 0;
}
 

/* Blue donut */
.Donut{
    margin-top: 100px;
}
.DonutSegment{
    background-color: #ff4500 !important;
}
 
.idJiraColumn{
    color: blue !important;
}
 

/* Homepage Dashboard : Management */
.cardTitle{
    font-weight: bold;
}
.shadowbox{
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2) !important;
    border-radius: 5px !important;
    background-color: white !important;
    border: 1px solid #f1f1f1 !important;
}


/* Key numbers card */
.sapMOHR.sapMOHRBgSolid, .sapMOHR.sapMOHRBgTranslucent {
    background: #fff;
    border-radius: 10px;
}


/* Blue Donut Labels management chart */
.sapSuiteIDCLegend {
    width: 60%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}
 
#application-management-display-component---Management--_IDGenXMLView3--_IDGenXMLView4--_IDGenInteractiveDonutChart15{
    margin-left: 1.5rem !important;
}

/* Blue Donut Circle management chart */
.sapSuiteIDC {
    width: 80% !important;
    height: 80% !important;
}
 

/* 3 Lines management chart */
.sapSuiteCpMCChartContent.sapSuiteCpMCResponsive {
    height: 80% !important;
}
.keytitles{
    overflow: visible !important;
}
 

/* flags footer */
.contentUnderContent{
    display: block !important;
}
.smallheight{
    height: 30px !important;
    margin-top: -40px !important;
    margin-left: -1.5px !important;
}
.border{
    border-radius: 1px !important;
}
.success .sapUiIcon{
    color: green !important;
}
.info .sapUiIcon{
    color: blue !important;
}
.warning .sapUiIcon{
    color: orange !important;
}
.consultantMaroc .sapUiIcon{
    color: purple !important;
}
.sapMIBar.sapMTB .sapMBarChild {
    font-weight: bold !important;
    color: rgb(32,41,72)  !important;
    font-size: 1.5rem;
}
.sapMOHR {
    padding: 1rem 3rem 1rem 3rem !important;
}
 

/* Ticket details */
.ticketDetailsDialog {
    width: 400px;
}
.ticketDetailsContainer {
    padding: 1rem;
}
.ticketId {
    font-weight: bold;
    margin-left: 0.5rem;
}
.ticketTitle {
    margin-top: 0.5rem;
}
.ticketDetailRow {
    margin-top: 1rem;
}
.ticketDetailLabel {
    width: 120px;
    font-weight: bold;
}
.ticketDetailText {
    flex-grow: 1;
    margin-left: 0.5rem;
}
.closeButton {
    margin-top: 1rem;
}
.sapMITBContent {
    padding: 0rem !important;
}
 
 
/* Criticalities */
.doneStatus {
    color: green !important; /* Change the color for 'DONE' status */
}
.unassignedStatus {
    color: red !important; /* Change the color for 'UNASSIGNED' status */
}
.inProgressStatus {
    color: orange !important; /* Change the color for 'IN_PROGRESS' status */
}
 
 
/* Tables Style */
 .sapFDynamicPageContent, .sapFDynamicPageContentFitContainer {
    padding: 1rem 3rem 0 3rem !important;
}
.sapMITH .sapMITBHead {
    padding-top: 0 !important;
}
.sapFDynamicPage-Std-Tablet .sapFDynamicPageHeaderWithContent {
    padding: 0 !important;
}
.sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
    padding: 1rem 3rem 1rem 3rem !important;
}
.sapFDynamicPage-Std-Tablet .sapFDynamicPageTitle, .sapFDynamicPage-Std-Tablet .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped>.sapFDynamicPageTitle {
    padding: 0;
}
.sapFDynamicPage-Std-Tablet .sapFDynamicPageTitle {
    padding: 0;
}
.sapFDynamicPageTitle {
    padding: 0.5rem 3rem !important;
}
.statusWidth .sapMGenericTagWrap{
    width: 9rem !important;
    min-width: 9rem !important;
    max-width: 9rem !important;
}
.sapUiTableCell {
    border-right: none;
}
.sapUiTableDataCell, .sapUiTableCreationRow .sapUiTableCreationRowForm .sapUiTableCell {
    padding: 0.5rem 0 0.5rem 0 !important;
}
.sapUiTableHeaderDataCell {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
}

.sapUiSizeCompact .sapUiTableCell .sapMLabel, .sapUiSizeCondensed .sapUiTableCell .sapMLabel {
    font-weight: bold;
    font-size: 0.8rem;
}
.sapUiTableCell.sapUiTableHeaderCell {
    text-align: center !important;
    background-color: rgb(32,41,72) !important;
}
.sapUiTableCell .sapMLabel {
    color: white;
    vertical-align: middle;
}
.sapUiTableCnt {
    border-radius: 10px;
}
.sapTntInfoLabel {
    padding: 0.2rem 0.625rem 1.1rem 0.625rem !important;
    width: 7rem !important;
    min-width: 7rem !important;
    max-width: 7rem !important;
}
.sapUiTable {
    margin-bottom: 3rem;
}
.sapUiSizeCompact .sapMSFF {
    border-radius: 5px !important;
}
 
 
/* to position the search bar in the far right (3 classes) */
.width100{
    width: 100% !important;
    justify-content: space-between !important;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading {
    width: 100% !important;
    justify-content: space-between !important;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner {
    width: 100% !important;
}
 
 
/* position the non filters on the right */
.sapMITBFilterIcon {
    border: none;
}
.IconTabBarLayoutTickets .sapMITBItem:nth-child(6n) {
    float: right !important;
}
.IconTabBarLayoutTickets .sapMITBItem:nth-child(7n) {
    float: right !important;
}
.IconTabBarLayoutConsultants .sapMITBItem:nth-child(4n){
    float: right !important;
}
.IconTabBarLayoutConsultants .sapMITBItem:nth-child(5n){
    float: right !important;
}
.IconTabBarLayoutProjects .sapMITBItem:nth-child(2n){
    float: right !important;
}
.IconTabBarLayoutProjects .sapMITBItem:nth-child(3n){
    float: right !important;
}
.IconTabBarLayoutManagers .sapMITBItem:nth-child(2n){
    float: right !important;
}
.IconTabBarLayoutManagers .sapMITBItem:nth-child(3n){
    float: right !important;
}
 
 
/* Top 4 Chart management */
.sapSuiteClMCLabelColumn.sapSuiteClMCLabelColumnTop {
    color: black !important;
    font-weight: bold !important;
}
.sapSuiteClMCColumnLabelDivider {
    flex: 0 0 1rem !important;
}
.sapSuiteClMCLabels.sapSuiteClMCPositionBtm, .sapSuiteClMCLabels.sapSuiteClMCBottomColumnLabels {
    margin-top: 12px !important;
}


/* description form */

.sapMFeedIn {
    border: .0625rem solid #89919a !important;
    background: #fff !important;
    border-radius: .125rem !important;
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}
.sapMFeedIn .sapMBtn {
    visibility: hidden !important;
}
.sapMFeedIn>.sapMFeedInContainer>.sapMInputBase {
    padding: 0 !important;
}
.sapMFeedIn .sapMInputBase.sapMTextArea .sapMTextAreaInner {
    min-height: 4rem;
    padding: 0;
}


/* Calender */
.myCalender{
    margin-top : 20px !important;
    margin-bottom: 20px !important;
    border-radius: 5px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.sapUiCal:not(.sapUiCalInt)>.sapUiCalHead {
    max-width: 100% !important;
}
.calendarListItem{
    text-align: center;    
}
.labelMarginCenter{
    text-align: center;    
}
.sapMListHdrText  {
    border-bottom: 1px solid #d9d9d9;
    text-align: center !important;
}
.TicketInput{
    margin-right: 3px !important;
    border-radius: 3px;
}
.position-validate{
    justify-content: space-between !important;
}
.CalendarAvailability{
    align-items: center;
} 

/* Profile table */
.sapMTableTH{    
    text-align: center !important;
    background-color: rgb(35, 45, 79) !important;
}
.sapUiSizeCompact .sapMColumnHeader:last-child{
    border-top-right-radius: 10px !important;
}
.sapUiSizeCompact .sapMColumnHeader:first-child{
    border-top-left-radius: 10px !important;
}
.theadProfile {
    font-weight: bold !important;
    font-size: 0.8rem !important;
    color : white !important;
}
.sapUiSizeCompact .sapMListTblCell>.sapMLnk, .sapUiSizeCompact .sapMListTblCell>.sapMText, .sapUiSizeCompact .sapMListTblCell>.sapMLabel, .sapUiSizeCompact .sapMListTblCell>.sapMObjectNumber, .sapUiSizeCompact .sapMListTblCell>.sapMObjectIdentifier, .sapUiSizeCompact .sapMListTblCell>.sapMObjStatus {
    vertical-align: middle;
    line-height: 1.4;
    color: rgb(39, 38, 38) !important;
    font-weight: normal !important;
}

/* consultant profile chart */
#application-management-display-component---ConsultantDetails--_IDGenXMLView3--_IDGenFlexBox80{
    height: 15rem !important;
    width: 30rem !important;
    max-height: 9rem !important;
    align-self: center !important;
    margin-top: 2rem !important;
}
#application-management-display-component---ConsultantDetails--_IDGenXMLView3--_IDGenInteractiveDonutChart150{
    max-height: 300px !important;
}
.sapSuiteIDCLegend {
    max-height: 150px !important;
}
.chrtdonut{
    align-self: center;
    margin: 5px;
}
.marginLeft{
    margin-left: -15px !important;
    margin-top: 23px !important;
}
.donutile{
    align-self: center;
    margin: 5px;
}
.chartimg{
    margin-left: 40px;
    margin-top: 5px;
}
.marginLeft30{
    margin-left: 4rem !important;
}

/* My Profile table */

#application-management-display-component---Profile--_IDGenXMefazLView1--idProductsTable{
    width: 100% !important;
    height: 20rem !important;
    overflow: scroll !important;
}
.statusWidthProfile .sapMGenericTagWrap{
    width: 7rem !important;
    min-width: 7rem !important;
    max-width: 7rem !important;
}

/* Managers profile table */
.managerprofiletable{
    width: 100% !important;
    height: 17.5rem !important;
    overflow: scroll !important;
}

/* Notification seen */
.unseenNotification {
    background-color: #e5e9f3; /* Light gray background for seen notifications */
}